.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.speedometer {
    width: 500px;
    height: 300px;
    background: #fff;
    position: relative;
    margin: 0 auto;
    margin-top: 20px;
};

hr.style-two {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

p.header {
    font-size: 30px;
    text-align: center;
    font-weight: bold
}

p.result-score {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}

.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}

.custom-file-input{
  width: 224.66px;
  height: 162px;
}

.custom-file-input::before {
  content: 'Drop a file to analyze';
  display: inline-block;
  background-color: #C4C4C4;
  padding: 70px 40px;
  cursor: pointer;
  font-weight: 500;
  font-size: 15px;
}

.form-container {
    width: 500px;
    height: 400px;
    margin: 0 auto;  
    align-items: center;  
    position: relative;
    margin-top: 120px;
    background-color: #EDEDED;
    background-image: url("data:image/svg+xml,%3csvg width='40%25' height='40%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='black' stroke-width='2' stroke-dasharray='6%2c 14' stroke-dashoffset='3' stroke-linecap='square'/%3e%3c/svg%3e");
}

.form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}